appdirs==1.4.4
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
getmac==0.9.2
h11==0.14.0
idna==3.4
manuf==1.1.5
numpy==1.24.2
p0f==1.0.0
prettytable==3.6.0
pyp0f==0.1.2
python-nmap==0.7.1
requests==2.28.2
scapy==2.5.0
six==1.16.0
termcolor==2.2.0
urllib3==1.26.14
vulners==2.0.9
wcwidth==0.2.6
